{% load static %}
<header class="header" id="header">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-auto">
                    <a href="/"><img src="{% static "img/VC_Logo 1.png" %}" alt="лого колледжа"  class="logo"></a>

                    <a href="#" class="bvi-open btn btn-primary" title="Версия сайта для слабовидящих">Версия сайта для слабовидящих</a>

                </div>
                <div class="col-lg-auto">
                    <nav class="">
                        <ul class="nav d-flex justify-content-center">


                            <li class="nav__item">
                                <a href="/">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'Gallery' %}">Галерея</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'News' %}">Новости</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'contact_form' %}">обратная связь</a>
                            </li>

                            {% for i in info_pages %}
                            <li class="nav__item">
                                <a href="/info/{{ i.name }}">{{ i.name }}</a>
                            </li>

                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            </div>
    </header>