<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include 'include/head.html' %}

<body>

    {% include 'include/header.html' %}
    <main>
        {% block content %}

        {% endblock content %}
    </main>

    {% include 'include/footer.html' %}

    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/slick.min.js'%}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js'%}"></script>
</body>

</html>